[submodule "BBRegistrationApp"]
	path = BBRegistrationApp
	url = https://github.com/alexisvincent/BBRegistrationApp.git
[submodule "BBServerApp"]
	path = BBServerApp
	url = https://github.com/alexisvincent/BBServerApp.git
[submodule "BBLibrary"]
	path = BBLibrary
	url = https://github.com/alexisvincent/BBLibrary.git
[submodule "BBVotingApp"]
	path = BBVotingApp
	url = https://github.com/alexisvincent/BBVotingApp.git
[submodule "BBAdminApp"]
	path = BBAdminApp
	url = https://github.com/alexisvincent/BBAdminApp.git
